@font-face {
  font-family: "YEONGJUPunggiGinsengTTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/YEONGJUPunggiGinsengTTF.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  justify-content: center;
  font-family: "YEONGJUPunggiGinsengTTF";
}

.warpper {
  max-width: 1200px;
  min-width: 800px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blanchedalmond;
  border-radius: 20px;
}

.main {
  display: flex;
  width: 1000px;
  justify-content: space-around;
  box-sizing: border-box;
}

.warpper > h1 {
  color: salmon;
}

.inputBox {
  font-size: 20px;
}

.inputBox > input {
  font-size: 20px;
  margin-right: 20px;
  border: 0;
  outline: 0;
  padding: 5px;
  border-radius: 10px;
  font-family: "YEONGJUPunggiGinsengTTF";
}

.btn {
  font-family: "YEONGJUPunggiGinsengTTF";
  padding: 10px 50px;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  background-color: aquamarine;
  color: white;
}

.btn:hover {
  background-color: white;
  color: black;
  transition: all ease-in-out 0.5s;
}

.toDolist {
  width: 1140px;
  height: 1200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 50px;
  background-color: blanchedalmond;
  padding: 30px;
  border-radius: 50px;
  text-align: center;
  align-items: center;
}

.list {
  width: 250px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid salmon;
  border-radius: 20px;
  flex-wrap: wrap;
  padding: 0 10px;
  margin-right: 20px;
  background-color: white;
  margin-top: 10px;
}

.list > h1 {
  margin-bottom: 50px;
  font-size: 20px;
  color: salmon;
}

.btnBox {
  display: flex;
  width: 250px;
  height: 30px;
  justify-content: space-around;
  margin-right: 10px;
  margin-top: 20px;
}

.btnBox > button {
  padding: 0 20px;
}

.deletebtn {
  border: 2px solid rgb(255, 94, 94);
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
  font-family: "YEONGJUPunggiGinsengTTF";
}

.deletebtn:hover {
  background-color: rgb(255, 94, 94);
  color: white;
  transition: all ease-in-out 0.3s;
}

.sucessbtn {
  border: 2px solid greenyellow;
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
  font-family: "YEONGJUPunggiGinsengTTF";
}

.sucessbtn:hover {
  background-color: greenyellow;
  color: white;
  transition: all ease-in-out 0.3s;
}

.working,
.done {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.workingtitle,
.donetitle {
  width: 500px;
  border: 1px solid salmon;
  background-color: salmon;
  color: white;
  border-radius: 30px;
}
